spring:
  application:
    name: CustomerService

  datasource:
    url: jdbc:postgresql://localhost:5435/customer_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        envers:
          audit_table_suffix: _AUD  # Envers-Konfiguration
          store_data_at_delete: true

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true      # tell Eureka to publish an IP, not the host name
    ip-address: host.docker.internal       # works locally; change if you run in Docker/VPS
    instance-id: ${spring.application.name}:${server.port}   # tell Eureka to publish an IP, not the host name


jwt:
  secret: ${JWT_SECRET:HMHHFu9OkiscolD1SI+H7Ae5aBwJiw8vyMfcFkZOtYFI4mljUvsHONlsRFlVsYjYg1MlndmrYyJb5aYT/aq1NQ==}