spring:
  application:
    name: CartService
  datasource:
    url: jdbc:postgresql://localhost:5436/cart_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml

server:
  port: 8087

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true
    ip-address: host.docker.internal
    instance-id: ${spring.application.name}:${server.port}

jwt:
  secret: ${JWT_SECRET:HMHHFu9OkiscolD1SI+H7Ae5aBwJiw8vyMfcFkZOtYFI4mljUvsHONlsRFlVsYjYg1MlndmrYyJb5aYT/aq1NQ==}

logging:
  level:
    org.springframework.security: DEBUG
    com.mwaf.cartservice: DEBUG 